<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</head>
<body>
    <form style=" border-radius: 3px; border:5px solid green;  width: 25%; height: 500px; position: relative; left: 550px;top: 130px;" action="" > <br>
     <h1 style=" text-align: center;   color: green;"> <strong>Profile</strong> </h1> <br>
     <span style="position: relative; left: 12px; font-size: large;">Username: </span> <input type="text" class="form-label" style="border: 5px green; position: relative; left: 10px; font-size: large; " name="" id="" value="{{ d.user }}"><br><br>
    <span style="position: relative; left: 12px; font-size: large;">Name: </span> <input type="text" class="form-label" style="border: 5px green; position: relative; left: 10px; font-size: large; " name="" id="" value="{{ d.name }}"><br><br>
    <span style="position: relative; left: 12px; font-size: large;">Email: </span><input type="email" style="border: 2px green;  position: relative; left: 10px; font-size: large; " name="" id="" value="{{ d.email }}"><br><br>
    <span style="position: relative; left: 12px; font-size: large;">Contact Number: </span> <input type="number" name="" style="border: 2px green;  position: relative; left: 10px; font-size: large;" id="" value="{{ d.contact_number }}"><br><br>
    <span style="position: relative; left: 12px; font-size: large;">Address: </span> <input type="text" name="" style="border: 2px green;  position: relative; left: 10px; font-size: large;" id="" value="{{ d.address }}"><br><br>
    <a href="{% url 'update_donor' %}" class="btn btn-danger" style="position: relative; left: 100px;top: 24px; width: 170px;">Edit</a>

    </form>
</body>
</html>